{{#if loginError}}
<p class="alert alert-danger mt-1">{{loginError}}</p>
{{/if}}


<div id="login" class="container tab-pane active"><br>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first mt-4">
        <img src="/images/auth.png" id="icon" alt="User Icon" />
      </div>

      <!-- форма входа -->
      <form action="/auth/login" method="POST" class="mt-5">
        <div class="form-group">
          <input type="text" id="login" class="form-control" name="username" placeholder="Логин" required autofocus>
        </div>
        <div class="form-group mt-3">
          <input type="password" id="password" class="form-control pass-input" name="password" placeholder="Пароль" required>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="submit" class="btn btn-dark mt-4" value="Войти">
      </form>
    </div>
  </div>
</div>