<script src="/pki.js"></script>
<h1>Добавить ПКИ</h1>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="error_message">
      {{#if insertError}}
      <p class="alert alert-danger mt-1">{{insertError}}</p>
      <audio src="/sounds/S20759.mp3" autoplay="autoplay"></audio>

      {{/if}}
    </div>
    <form action="/add" method="POST" class="needs-validation" novalidate>
      <div class="input-field">
        <input id="ean_code" name="ean_code" type="text" class="form-control" aria-describedby="eanlHelp"
          placeholder="EAN код">
      </div>

      <div class="input-field">
        <input id="type_pki" name="type_pki" type="text" class="form-control" aria-describedby="pkilHelp"
          placeholder="Тип ПКИ" required>
        <div class="invalid-feedback">
          Введите тип ПКИ!
        </div>
      </div>

      <div class="input-field">
        <input id="vendor" name="vendor" type="text" class="form-control" aria-describedby="vendorHelp"
          placeholder="Производитель" required>
        <div class="invalid-feedback">
          Введите Производителя!
        </div>
      </div>

      <div class="input-field">
        <input id="model" name="model" type="text" class="form-control" aria-describedby="modelHelp"
          placeholder="Модель" required>
        <div class="invalid-feedback">
          Введите Модель!
        </div>
      </div>

      <div class="input-field">
        <input id="country" name="country" type="text" class="form-control" placeholder="Страна производства" required>
        <div class="invalid-feedback">
          Введите страну!
        </div>
      </div>

      <div class="input-field">
        <input id="part" name="part" type="text" class="form-control" placeholder="Название партии" required>
        <div class="invalid-feedback">
          Введите название партии!
        </div>
      </div>

      <div class="input-field">
        <input id="serial_number" name="serial_number" type="text" class="form-control" aria-describedby="modelHelp"
          placeholder="Серийный номер" required>
        <div class="invalid-feedback">
          Введите серийный номер!
        </div>
      </div>
  
      <input type="hidden" name="_csrf" value="{{csrf}}">
      {{!-- <input type="hidden" name="hidd_serial" id="hidd_serial" class="form-control" value="" required> --}}
      <button type="submit" onclick="return addSession();" class="btn btn-primary btn-dark mb-2">Добавить ПКИ</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    loadSession()
  })

  $(document).on('keypress', '#ean_code', function (e) {
    let valueEAN = $(this).val()
    if (e.which == 13) {
      e.preventDefault()
      searchEAN(valueEAN)
    }
  })

</script>