<h1>Добавить ПКИ</h1>

<div class="wrapper fadeInDown">
  <div id="formContent">

    <form action="/add" method="POST" class="needs-validation" novalidate>

  <div class="input-field">
    <input id="type_pki" name="type_pki" type="text" class="form-control" aria-describedby="pkilHelp" placeholder="Тип ПКИ" required>
    <div class="invalid-feedback">
      Введите тип ПКИ!
    </div>
  </div>

  <div class="input-field">
    <input id="vendor" name="vendor" type="text" class="form-control" aria-describedby="vendorHelp" placeholder="Производитель" required>
    <div class="invalid-feedback">
      Введите Производителя!
    </div>
  </div>

  <div class="input-field">
    <input id="model" name="model" type="text" class="form-control" aria-describedby="modelHelp" placeholder="Модель" required>
    <div class="invalid-feedback">
      Введите Модель!
    </div>
  </div>

  <div class="input-field">
    <input id="country" name="country" type="text" class="form-control"  placeholder="Страна производства" required>
    <div class="invalid-feedback">
      Введите страну!
    </div>
  </div>

  <div class="input-field">
    <input id="part" name="part" type="text" class="form-control" placeholder="Название партии" required>
    <div class="invalid-feedback">
      Введите название партии!
    </div>
  </div>

  <div class="input-field">
    <input id="serial_number" name="serial_number" type="text" class="form-control" aria-describedby="modelHelp" placeholder="Серийный номер" required>
    <div class="invalid-feedback">
      Введите серийный номер!
    </div>
  </div>
  
  <div class="custom-control custom-checkbox">
    <input id="in_case" name="in_case" class="form-check-input" type="checkbox" value="true" >
    <label class="form-check-label" for="in_case">
      В составе системного блока
    </label>
  </div>

  <button type="submit" onclick="return addSession();" class="btn btn-primary btn-dark">Добавить ПКИ</button>
</form>

  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    loadSession()
  });
</script>

