<script src="/pc.js"></script>
<h1>Добавить ПЭВМ</h1>

  
  <input type="button" class="add-row" value="Добавить строку">
  <input type="button" class="delete-row" value="Удалить строку">
  


  <div id="showData"></div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>





   


<script type="text/javascript">
    $(document).ready(function(){
        CreateTablePC();               


    });    
</script>