<script src="/pc.js"></script>
<h1>Добавить ПЭВМ</h1>
<div class="tableContent">
<form action="/pc">

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Проект</span>
    </div>
    <input type="text" id="part" name="part" class="form-control" aria-label="Small"
      aria-describedby="inputGroup-sizing-sm" required>

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">ФДШИ</span>
    </div>
    <input type="text" id="fdsi" name="fdsi" class="form-control" aria-label="Small"
      aria-describedby="inputGroup-sizing-sm" required>

    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Заводской номер</span>
    </div>
    <input type="text" id="serial_number" name="serial_number" class="form-control" aria-label="Small"
      aria-describedby="inputGroup-sizing-sm" required>

  </div>
<div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">АРМ</span>
      </div>
      <input type="text" id="arm" name="arm" class="form-control" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm" value="" required>

      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Исполнение</span>
      </div>
      <input type="text" id="execution" name="execution" class="form-control" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm" value="">

      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Приложение</span>
      </div>
      <input type="text" id="attachment" name="attachment" class="form-control" aria-label="Small"
        aria-describedby="inputGroup-sizing-sm" value="">
    </div>


  <div id="pc_unit_table"></div>
  

  <div id="system_case_unit_table"></div>
  <input type="button" class="add-row btn btn-outline-primary" value="Добавить строку">
  <input type="button" class="delete-row btn btn-outline-danger" value="Удалить строку">

  <input type="hidden" name="_csrf" value="{{csrf}}">


  <div class="mt-2 "><button type="submit" class="save_button btn btn-outline-success mb-2">Сохранить ПЭВМ</button></div>

</form>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    CreateTablePC()
    CreateTableSystemCase()
  })

  $('form').submit(function () {
    // get table html
    let part = $('#part').val()
    let fdsi = $('#fdsi').val()
    let serial_number = $('#serial_number').val()
    let arm = $('#arm').val()
    let execution = $('#execution').val()
    let attachment = $('#attachment').val()

    let table = {
      html: $('#pc_unit').html()
    }

    // формирование POST запроса для таблицы ПЭВМ
    let pc_unit = []
    $('#pc_unit tr').each(function (i) {
      if (i == 0) {
        return true
      }
      let fdsi = $(this).find(".fdsi").text()
      let type = $(this).find(".type").text()
      let name = $(this).find(".name").text()
      let quantity = $(this).find(".quantity").text()      
      let serial_number = $(this).find(".serial_number").text()
      let notes = $(this).find(".notes").text()

      if ($(this).find(".serial_number").data("apkzi")) {
        pc_unit.push({
          i: i,
          fdsi: fdsi,
          type: type,
          name: name,
          quantity: quantity,
          serial_number: serial_number,
          notes: notes,
          apkzi: "apkzi"
        })
      } else {
        pc_unit.push({
          i: i,
          fdsi: fdsi,
          type: type,
          name: name,
          quantity: quantity,
          serial_number: serial_number,
          notes: notes
        })
      }
    })

    // формирование POST запроса для таблицы системный блок
    let system_case_unit = []
    $('#system_case_unit tr').each(function (i) {
      if (i == 0) {
        return true
      }
      let type = $(this).find(".type").text()
      let fdsi = $(this).find(".fdsi").text()
      let name = $(this).find(".name").text()
      //убираем теги
      //let nameTags = $(this).find(".name").html()
      //let name = nameTags.replace(/<\/?[^>]+>/g,''))
      let quantity = $(this).find(".quantity").text()
      let serial_number = $(this).find(".serial_number").text()
      let notes = $(this).find(".notes").text()

      if ($(this).find(".serial_number").data("apkzi")) {
        system_case_unit.push({
        i: i,
        fdsi: fdsi,
        type: type,
        name: name,
        quantity: quantity,
        serial_number: serial_number,
        notes: notes,
        szi: "szi"
      })
      } else {
        system_case_unit.push({
        i: i,
        fdsi: fdsi,
        type: type,
        name: name,
        quantity: quantity,
        serial_number: serial_number,
        notes: notes
      })
      }
      
    })

    $.ajax({
      url: "/pc/add",
      type: "POST",
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      data: {
        part: part,
        fdsi: fdsi,
        serial_number: serial_number,
        arm: arm,
        execution: execution,
        attachment: attachment,
        pc_unit: JSON.stringify(pc_unit),
        system_case_unit: JSON.stringify(system_case_unit)
      }
    })
  })


  $('#serial_number').keyup(function() {
      let search = $(this).val()
      let numbers = document.getElementsByClassName('number_mashine')
      for (const number of numbers) {
        number.innerHTML = search
      }
      
      
    })

</script>