<script src="/pc.js"></script>
<h1>Добавить ПЭВМ</h1>
<form action="/pc">

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Проект</span>
        </div>
        <input type="text" id="part" name="part" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">ФДШИ</span>
        </div>
        <input type="text" id="fdsi" name="fdsi" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Заводской номер</span>
        </div>
        <input type="text" id="serial_number" name="serial_number" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">АРМ</span>
        </div>
        <input type="text" id="arm" name="arm" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" required>

        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Исполнение</span>
        </div>
        <input type="text" id="execution" name="execution" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" required>
    </div>



    <div id="pc_unit_table"></div>
    <input type="button" class="add-row-pc btn btn-dark mb-2" value="Добавить строку">
    <input type="button" class="delete-row-pc btn btn-dark mb-2" value="Удалить строку">
    <div id="system_case_unit_table"></div>
    <input type="button" class="add-row-system btn btn-dark" value="Добавить строку">
    <input type="button" class="delete-row-system btn btn-dark" value="Удалить строку">
    <div class="col-sm mt-5"><button type="submit" class="btn btn-dark mb-2">Добавить</button></div>

</form>


<script type="text/javascript">
    $(document).ready(function () {
        CreateTablePC()
        CreateTableSystemCase()
    })

    $('form').submit(function () {
        // get table html
        let part = $('#part').val()
        let fdsi = $('#fdsi').val()
        let serial_number = $('#serial_number').val()
        let arm = $('#arm').val()
        let execution = $('#execution').val()

        let table = {
            html: $('#pc_unit').html()
        };

        // формирование POST запроса для таблицы ПЭВМ
        let pc_unit = [];
        $('#pc_unit tr').each(function (i) {
            if (i == 0) {
                return true
            }
            let fdsi = $(this).find(".fdsi").html();
            let type = $(this).find(".type").html();
            let name = $(this).find(".name").html();
            let quantity = $(this).find(".quantity").html();
            let serial_number = $(this).find(".serial_number").html();
            let notes = $(this).find(".notes").html();

            pc_unit.push({
                i: i,
                fdsi: fdsi,
                type: type,
                name: name,
                quantity: quantity,
                serial_number: serial_number,
                notes: notes
            })
        })

        // формирование POST запроса для таблицы системный блок
        let system_case_unit = []
        $('#system_case_unit tr').each(function (i) {
            if (i == 0) {
                return true
            }
            let fdsi = $(this).find(".fdsi").html()
            let type = $(this).find(".type").html()
            let name = $(this).find(".name").html()
            let quantity = $(this).find(".quantity").html()
            let serial_number = $(this).find(".serial_number").html()
            let notes = $(this).find(".notes").html()

            system_case_unit.push({
                i: i,
                fdsi: fdsi,
                type: type,
                name: name,
                quantity: quantity,
                serial_number: serial_number,
                notes: notes
            })
        })


        // POST the data
        //  alert(data[1].html())
        $.ajax({
            url: "/pc/add",
            type: "POST",
            data: {
                part: part,
                fdsi: fdsi,
                serial_number: serial_number,
                arm: arm,
                execution: execution,
                pc_unit: JSON.stringify(pc_unit),
                system_case_unit: JSON.stringify(system_case_unit)
            }
        })
    })
</script>