<script src="/apkzi.js"></script>
<div class="container">
  <button class="btn btn-dark mt-2" style="margin-bottom: 1rem" onclick="location.href='/add/apkzi';">Добавить
    АПКЗИ</button>

  {{!-- модальное окно --}}
  <div class="modal fade" id="modalDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Удалить АПКЗИ?</h5>
          <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
          <input type="hidden" name="_csrf" value="{{csrf}}">
          <input type="hidden" name="id" id="hidId">
          <input type="hidden" name="part" id="hidPart">
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Закрыть</button>
            <button type="button" id="btnSubmit" onclick="delBtn()" data-bs-dismiss="modal"
              class="btn btn-danger">Удалить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="showData"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    load_data()
  })

  document.onkeydown = function (e) {
    e = e || window.event;
    if (e.ctrlKey && (e.which == 68)) {
      e.preventDefault()
      const classes = document.querySelector('body').classList
      if (classes.contains('modal-open')) {
        delBtn()
        setTimeout(() => {
          document.getElementById('closeBtn').click()
        }, 300)
      }
    }
  }
</script>