<script src="/assembly.js"></script>
<script type="text/javascript" src="/lib/socketIO/socket.io.js"></script>
<div class="count" id="count"></div>
<div id="PC" class="assemblyCont"></div>

<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckboxOne" class="popup-closer">&times;</label>
      <p id="oldNumber" class="alert alert-danger mt-1"></p>
      <input id="hiddInp" type="hidden" value="">
    </div>
  </div>
</div>
<input type="hidden" id="hidd_id" value="0">
<input type="hidden" id="hidd_obj" value="0">
<input type="hidden" id="hidd_unit" value="0">
<input type="hidden" id="userName" value="{{ userName }}">

<div class="container">
  <div class="row">
    <div class="col">
      <button id="PreviousPC" onclick="getPreviousPC()" class="btn btn-dark previousButton"><i
          class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </div>
    <div class="col-6 mt-3">
      <div class="status" id="status">
        <div class="statusName" id="statusName">OK!</div>
        <div class="apkziDiv" id="apkziDiv"></div>
      </div>
    </div>
    <div class="col">
      <button id="NextPC" onclick="getNextPC()" class="btn btn-dark nextButton"><i class="fa fa-chevron-right"
          aria-hidden="true"></i><span class="ion-help-buoy"></span></button>
    </div>
  </div>
</div>

<button id="soundOn" onclick="setSoundSessionOff()" class="btn btn-dark soundButton"><i
    class="fa fa-microphone"></i></button>

<button id="soundOff" onclick="setSoundSessionOn()" hidden="true" class="btn btn-dark soundButtonSlash"><i
    class="fa fa-microphone-slash"></i></button>

<div id="overlay">
  <div class="spinner " id="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<script>
  loadPage()
  let uri = 'ws://' + location.hostname + ':3001'
  const socket = io(uri)
  socket.on('updateAssemblyPC', function (data) {
    websocketUpdate(data.serialNumber, data.user)
  })
</script>