<script src="/equipment.js"></script>
<h1>Оборудование</h1>

<button onclick="location.href='equipment/add';" class="btn btn-outline-success mb-1">Новое оборудование</button>
<div class="form-group">
  <input type="text" name="search" class="form-control hoverable" id="search" placeholder="Штрих-код">
</div>

<select id="type_select_navbar" class="custom-select mt-2 mb-2"></select>

<div id="showData"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    load_data()
    let selectType = document.getElementById('type_select_navbar')
    selectType.addEventListener('change', (e)=> {
      load_data(e.target.value)
    })
    let searchInput = document.getElementById('search')
    searchInput.addEventListener('keyup', (event) => {
      let query = event.target.value
      if (query) {
        searchEANCode(query)
      } else {
        searchEANCode(null)
      }
    })
  })
</script>
