<script src="/equipment.js"></script>
<div class="container">
  <button onclick="location.href='equipment/add';" class="btn btn-outline-success mb-1 mt-2">Новое оборудование</button>
  <div class="form-group">
    <input type="text" name="search" class="form-control hoverable" id="search" placeholder="Штрих-код">
  </div>
  <select id="type_select_navbar" class="form-select mt-2 mb-2"></select>
  <div id="showData"></div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    load_data()
    let selectType = document.getElementById('type_select_navbar')
    selectType.addEventListener('change', (e) => {
      load_data(e.target.value)
    })
    let searchInput = document.getElementById('search')
    searchInput.addEventListener('keyup', (event) => {
      let query = event.target.value
      if (query) {
        searchEANCode(query)
      } else {
        searchEANCode(null)
      }
    })
  })
</script>