<script src="/home.js"></script>

<h1>Информация</h1>

<div class="tableContent ">
    <div class="padd">
        <h4>Количество ПКИ в базе данных: {{ countPKI }}</h4>
        <h4>Количество ПВЭМ в базе данных: {{ countPC }}</h4>
    </div>
</div>


