<h1>Информация</h1>

<div class="tableContent ">
    <div class="padd">
        <h4>Количество ПКИ в базе данных, за год/всего: {{ countPKI }} / {{ countPKIinYear }}</h4>
        <h4>Количество ПВЭМ в базе данных, за год/всего: {{ countPC }} / {{ countPCinYear }}</h4>
        <div id="partChart" class="chart"></div>
    </div>
</div>

<script src="/loader.js"></script>
<script src="/home.js"></script>


