<div class="container">
    <div class="tableContent mt-3">
        <div class="padd">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-1"></div>
                    <div class="col blacklstHead">
                        <p class="mt-5" style="text-align: right;"> <ins>Количество ПКИ в базе данных</ins></p>
                        <div class="tinyText_right">за год/всего</div>
                    </div>
                    <div class="col col-lg-2 blacklst">
                        <p> {{ countPKIinYear }} / {{ countPKI }} </p>
                    </div>
                    <div class="col col-lg-2"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col col-lg-2"></div>
                    <div class="col col-lg-2 blacklst">
                        <p> {{ countPCinYear }} / {{ countPC }} </p>
                    </div>
                    <div class="col blacklstHead">
                        <p class="mt-5" style="text-align: left;"><ins>Количество ПЭВМ в базе данных </ins></p>
                        <div class="tinyText_left">за год/всего</div>
                    </div>
                    <div class="col col-lg-1"></div>
                </div>
            </div>
            <hr class="mt-3">
            <div id="partChart" class="chart"></div>
        </div>
    </div>
</div>


<script src="/loader.js"></script>
<script src="/home.js"></script>
