<script src="/pc.js"></script>
<h1>Машины</h1>
<button class="btn btn-dark mb-2" onclick="location.href='pc/add';">Добавить ПЭВМ</button>

<form>

  <div class="form-group">
    <label for="part_select">Партия</label>
    <select class="form-control" id="part_select">

    </select>
  </div>

</form>

<div id="PC"></div>
<input type="hidden" id="hidd_id" value="0">
<input type="hidden" id="hidd_obj" value="0">
<input type="hidden" id="hidd_unit" value="0">


{{!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=UtsRdv1X"></script> --}}

{{!-- <input onclick="responsiveVoice.speak('SFP-модуль', 'Russian Female');" type='button' value='🔊 Play' /> --}}

<script>
  $(document).ready(function() {
    load_data()
    load_part()

    });
    $(document).on('change', '#part_select', function() {      
      load_data($("#part_select :selected").text())
  })

  $(document).on('blur', '.serial_number', function() {
    let id = $(this).data("id")
    let obj = $(this).data("obj")
    let unit = $(this).data("unit")
    let serial_number = $(this).text()
    let data_hidd = $(this).data("data")
    $("#hidd_id").val(data_hidd)

   // edit_serial_number(id, obj, unit, serial_number)
    

  //  setTimeout(function(){
  //   let current_id =  $("#hidd_id").val()
  //   console.log(current_id) 
  //    $(".serial_number[data-data='" + current_id + "']").focus()
  //    
  //  },600)
    
    
  })

  $(document).on('keypress', '.serial_number', function(e) {
    let id = $(this).data("obj")
    if(e.which == 13) {
      
      //console.log(id)
      //$("#hidd").val(id)
      //alert('Enter!!!!!!!!!')
      // let a = $("#hidd").val()
      //console.log(id)
      let id = $(this).data("id")
      let obj = $(this).data("obj")
      let unit = $(this).data("unit")
      let serial_number = $(this).text()
      let data_hidd = $(this).data("data")
      $("#hidd_id").val(data_hidd)
      edit_serial_number(id, obj, unit, serial_number)
      let current_id =  $("#hidd_id").val()
      console.log(current_id)
      let next_id = current_id.split(";")
      next_id[1] = Number(next_id[1]) + 1 + ''
      console.log(next_id.join(';'))
      $(".serial_number[data-data='" + next_id.join(';') + "']").focus()
      setTimeout(function(){
        $(".serial_number[data-data='" + next_id.join(';') + "']").focus()
      }, 1000)
      
      //alert(current_obj)
      //$("td").find(`[data-obj='${current_obj}']`, `[data-id='${current_id}']`).focus
      // $("td[data-obj='" + current_obj +"', data-id='" + current_id +"']").focus()

      
    }
})


  
</script>