<script src="/pki.js"></script>
<h1>ПКИ</h1>
<button class="btn btn-dark" style="margin-bottom: 1rem" onclick="location.href='/add';">Добавить ПКИ</button>

  <div class="form-row align-items-center">
    <div class="col-auto">      
      <div class="input-group mb-2">
        <input type="text" name="search" class="form-control hoverable" id="search" placeholder="Поиск...">
      </div>
    </div>
  </div>

<div id="showData"></div>

<input hidden="true" id="temp" value="0"></input>

<script>
    $(document).ready(function() {
    load_data();
  
    var timeoutID = null;
  
    $('#search').keyup(function() {
      
      $('#temp').val('0');
      clearTimeout(timeoutID);
      var search = $(this).val();
      
      if (search) {
        load_data(search);
      } else {
        load_data();
      }
    });

  $(document).on('blur', '.type', function() {
    let id = $(this).data("id");
    let type = $(this).text();
    edit_type(id, type);
  });
  
  $(document).on('blur', '.model', function() {
    let id = $(this).data("id");
    let model = $(this).text();
    edit_model(id, model);
  });

  $(document).on('blur', '.serial_number', function() {
    let id = $(this).data("id");
    let serial_number = $(this).text();
    edit_serial_number(id, serial_number);
  });

  $(document).on('blur', '.vendor', function() {
    let id = $(this).data("id");
    let vendor = $(this).text();
    edit_vendor(id, vendor);
  });

  $(document).on('blur', '.country', function() {
    let id = $(this).data("id");
    let country = $(this).text();
    edit_country(id, country);
  });

  $(document).on('blur', '.part', function() {
    let id = $(this).data("id");
    let part = $(this).text();
    edit_part(id, part);
  });


    
  });
  //$('#model').keyup(function() {
  //    console.log('hj,bn')
  //    edit_data(id, model, "model");
  //  });

</script>


</body>