<script src="/projects.js"></script>

<h1>Проекты</h1>
<button id="excelImport" onclick="location.href='/projects/import';" class="btn btn-outline-success mb-2">Экспорт в Excel</button>
<form>
  <input type="hidden" name="_csrf" value="{{csrf}}">
</form>

<div id="PC"></div>
<input type="hidden" id="hidd_id" value="0">
<input type="hidden" id="hidd_obj" value="0">
<input type="hidden" id="hidd_unit" value="0">

<script>
  document.addEventListener("DOMContentLoaded", function() {
    load_data()
  })

  $(document).on('change', '#serials', function () {
    let serial_number_id = '#' + $("#serials :selected").val()    
    $('html, body').animate({
          scrollTop: $(serial_number_id).offset().top-70
        }, 500)
  })
</script>