<script src="/projects.js"></script>
<div class="container">

  <button id="excelImport" onclick="location.href='/projects/import';" class="btn btn-outline-success mt-4">Экспорт
    в Excel</button>
  <form>
    <input type="hidden" name="_csrf" value="{{csrf}}">
  </form>

  <div id="PC"></div>
  <input type="hidden" id="hidd_id" value="0">
  <input type="hidden" id="hidd_obj" value="0">
  <input type="hidden" id="hidd_unit" value="0">

  <div id="overlay">
    <div class="spinner " id="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    load_data()
  })
  const snSelect = document.getElementById('serials')
  snSelect.addEventListener('change', (e) => {
    let snId = snSelect.value
    const el = document.getElementById(snId)
    const offsetPosition = window.pageYOffset + el.getBoundingClientRect().top - 70
    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    })
  })
</script>