<script src="/projects.js"></script>
<h1>Проекты</h1>

<form>
    <div class="form-group">
        <label for="part_select">Партия</label>
        <select class="form-control" id="part_select"></select>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
</form>

<div id="PC"></div>
<input type="hidden" id="hidd_id" value="0">
<input type="hidden" id="hidd_obj" value="0">
<input type="hidden" id="hidd_unit" value="0">

<script>
    $(document).ready(function () {
        load_data()
        load_part()
    })

 //   $("body").on('click','.copyBtn',function () {
 //       let id = $(this).data("id")
//
 //       $.ajax({
 //       url: "/projects/passport",
 //       type: "get",
 //       headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
 //       data: {
 //           id: id
 //       },
 //       success: function (data) {
 //           console.log('Ok')
 //       }
 //   })
 // })
    
    $(document).on('change', '#part_select', function () {
        load_data($("#part_select :selected").text())
    })
</script>