<script src="/sp.js"></script>
<div class="container">
  <h1>ПКИ</h1>
  <button class="btn btn-dark mb-1" onclick="location.href='/add';">Добавить ПКИ</button>
  <button id="excelImport" onclick="location.href='/sp/excelExport'" class="btn btn-outline-success mb-1">Акт</button>
  <button id="excelImport1" onclick="location.href='/sp/excelExport1'"
    class="btn btn-outline-success mb-1">Заключение</button>
  <div class="form-group">
    <input type="text" name="search" class="form-control hoverable" id="search" placeholder="Поиск...">
    <select id="type_select_navbar" class="custom-select mt-2">
      {{!-- <option value="part">Выберите проект</option> --}}
    </select>
  </div>

  <div id="showData"></div>


  <input hidden="true" id="temp" value="0"></input>
  <input type="hidden" name="id" id="hidId">
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    load_data()

    let searchInput = document.getElementById('search')
    searchInput.addEventListener('keyup', (event) => {
      let query = event.target.value
      if (query) {
        searchPKI(query)
      } else {
        searchPKI(null)
      }
    })
  })

  let typeSelect = document.getElementById('type_select_navbar')
  typeSelect.addEventListener('change', (event) => {
    changeSelectType(event.target.value)
  })
</script>