<script src="/sp.js"></script>
<h1>ПКИ</h1>
<button class="btn btn-dark mb-1" onclick="location.href='/add';">Добавить ПКИ</button>
<button id="excelImport" onclick="location.href='/sp/excelExport'" class="btn btn-outline-success mb-1">Акт</button>
<button id="excelImport1" onclick="location.href='/sp/excelExport1'" class="btn btn-outline-success mb-1">Заключение</button>
<div class="form-group">
  <input type="text" name="search" class="form-control hoverable" id="search" placeholder="Поиск...">
  <select id="type_select_navbar" class="custom-select mt-2">
    {{!-- <option value="part">Выберите проект</option> --}}
  </select>
</div>

<div id="showData"></div>


<input hidden="true" id="temp" value="0"></input>
<input type="hidden" name="id" id="hidId">

<script>
  document.addEventListener("DOMContentLoaded", function() {
    load_data()

    $('#search').keyup(function () {
      let search = $(this).val()
      let blank_req = 'null'
      if (search) {
        searchPKI(search)
      } else {
        searchPKI(blank_req)
      }
    })

  })

  $(document).on('keypress', '.szz1', function (e) {
    let id = $(this).data("data")    
    if (e.which == 13) {   
      e.preventDefault()   
      //переход на одну ячейку вниз
      let next_id = Number(id) + 1 + ''
      $(".szz1[data-data='" + next_id + "']").focus() 
    }
  })

  $(document).on('change', '#type_select_navbar', function () {	
        changeSelectType($("#type_select_navbar :selected").text())	
      })
</script>