<script src="/spec.js"></script>
<div class="count" id="count"></div>
<h2 class="ml-5">Диапазон</h2>
<div class="gridForm">
  <label class="big-label" for="from-select">ОТ</label>
  <label class="big-label" for="to-select">ДО</label>
  <select class="custom-select" name="from-select" id="from-select"></select>
  <select class="custom-select" name="to-select" id="to-select"></select>
</div>
<div class="data ml-3 mr-3 mt-2" id="data"></div>

<div id="overlay">
    <div class="spinner " id="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>